.App {
  text-align: center;
}
.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.input {
  width: 80%;
  padding: 10px 20px;
  margin-right: 20px;
  border: 2px solid green;
  border-radius: 15px;
}

ul {
  list-style-type: none;
}
li {
  border: 2px solid green;
}

.todo {
  margin: 0.5rem;
  background: white;
  font-size: 1.5rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
}

.todo li {
  flex: 1;
}
.complete-btn {
  background: rgb(155, 235, 135);
}
.trash-btn {
  background: rgb(199, 44, 44);
}
.time {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  font-weight: bold;
}
